@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;300;400;500&display=swap');

/* 
### Primary

- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

ul li {
    list-style: none;
}

h1,
h2,
button {
    text-transform: uppercase;
}

button {
    font-family: "Josefin Sans", sans-serif;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

header {
    background: url(../images/desktop/image-hero.jpg);
    background-color: rgba(248, 247, 216, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    color: hsl(0, 0%, 100%);
    position: relative;
}

header .layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header h1 {
    border: 2px solid #fff;
    padding: 30px 10px 30px 30px;
    width: 500px;
    position: absolute;
    top: 40%;
    left: 80px;
    font-size: 3.3rem;
    font-weight: 300;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px 0 80px;
}

.nav-container nav ul,
.nav-footer ul {
    display: flex;
}

.nav-container ul li {
    padding-left: 50px;
    font-weight: 400;
    cursor: pointer;
}

.nav-container ul li::after,
.nav-footer ul li::after,
.social-links img::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    margin: 5px auto;
}

.nav-container ul li:hover::after,
.nav-footer ul li:hover::after,
.social-links img:hover::after {
    width: 50%;
    transition: width .3s;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

section.interactive-vr {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section.interactive-vr .textbox {
    width: 500px;
    background-color: #fff;
    padding: 50px 50px 0 50px;
    margin-left: -160px;
}

section.interactive-vr .textbox h2 {
    padding-bottom: 20px;
}

section.interactive-vr p {
    line-height: 1.3;
}

section.our-creations {
    padding: 0 80px 120px 80px;
}

section.our-creations .heading-container {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 50px 0;
}

button {
    padding: 5px 40px 0 40px;
    background-color: #fff;
    border: 1px solid black;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background-color:hsl(0, 0%, 0%);
    color:hsl(0, 0%, 100%);
}

.creations-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.img-container {
    position: relative;
}

.img-container img:hover {
    opacity: 0.5;
}

.creations-images .img-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    width: 75%;
    font-weight: 100;
    font-size: 2.3rem;
}

footer {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}

footer .nav-footer ul li {
    font-weight: 400;
    cursor: pointer;
    padding-right: 30px;
}

footer .nav-footer ul li,
.copyright {
    padding-top: 20px;
}

.social-links {
    display: flex;
    justify-content: flex-end;
}

.social-links img {
    padding-left: 20px;
}



/* Media queries */
@media only screen and (max-width: 1100px) {
    .creations-images {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .interactive-vr {
        flex-direction: column;
    }

    .interactive-vr img {
        width: 100vw;
    }

    .textbox {
        width: 100%;
        padding: 50px 10px;
    }

    .textbox h2 {
        text-align: center;
        font-size: 2rem;
        line-height: 1.4;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        justify-content: center;
    }

    .col-left {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 897px) {
    .creations-images {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 596px) {
    .creations-images {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .creations-images .img-title {
        font-size: 1.4rem;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: hsl(0, 0%, 0%);
        padding: 10px;
    }

    .heading-container {
        flex-direction: column;
        align-items: center;
    }

    .heading-container h2 {
        font-size: 2rem;
        margin: 0 auto;
    }

    button {
        padding: 15px 40px 15px 40px;
        margin-top: 20px;
        width: 80%;
    }

    .nav-container {
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    header h1 {
        position: relative;
        left: 0;
        top: 50px;
        width: 80%;
        font-size: 1.5rem;
        margin: 0 auto;
        text-align: center;
    }

    .nav-container .logo {
        padding-bottom: 20px;
    }

    .nav-container nav {
        padding-bottom: 20px;
    }

    .nav-container nav li {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 392px) {
    .heading-container h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    button {
        padding: 10px;
    }

    footer .nav-footer ul {
        flex-direction: column;
    }
    
    footer .nav-footer ul li {
        padding-right: 0;
    }

    .col-right {
        text-align: center;
        line-height: 1.5;
    }

    .interactive-vr {
        padding-top: 0;
    }

    section.interactive-vr .textbox {
        width: 100vw;
    }

    section.interactive-vr .textbox h2 {
        font-size: 1.4rem;
    }
}